# 打印日志

# 0. 执行任务时是否显示签到详情，1 为显示，0 为不显示，默认为 1
DISPLAY_CONTEXT=1


# 推送方式

# 1. 钉钉机器人
DD_BOT_TOKEN=""

# 2. Server 酱
PUSH_KEY=""
# Turbo 版
PUSH_TURBO_KEY=""

# 3. PUSHPLUS
PUSH_PLUS_TOKEN=""

# 4. Qmsg 酱
QMSG_KEY=""

# 5. 企业微信
# 企业微信 ID
CORPID=""
# 企业微信应用 ID
AGENTID=""
# 企业微信密钥
CORPSECRET=""

# 6. TelegramBot
TG_BOT_TOKEN=""
TG_USER_ID=""


# 信息配置 

# 1. SSPanel 签到
# 用户信息。格式：域名----账号----密码，多个账号使用 ; 分隔，支持换行但前后引号不能删掉
SS_USERS="https://abc.com----abc@abc.com----abc123456;
https://abc.com----abc@abc.com----abc123456;
https://abc.com----abc@abc.com----abc123456;"